<!DOCTYPE html>
<html>
<head>
<title>index</title>
</head>
<body>
    <p>Welcome to  Another Home!<%= title %></p>
    <p><a href="/">Home</a> || <a href="/my">Another Home</a></p>

<h1>Index</h1>
<p>Index</p>

</body>
</html>